.header{
  background-image: url(images/rosemary.jpg);
  background-size: cover;
}

.header-logo{
  color:black;
}
.content{
  background-image: url('/images/money.jpg');
  background-size: cover;
  height:100vh;
}
.user_nav {
  float:right;
}

.mypage{
  display:flex;
  float:right;
}

.pie {
  position:absolute;
  top:40%;
  left:5%;
}

.btn-income{
  color: blue;
}
.expense-logo{
  color: red;
}

.kao{
  position: absolute;
  top:15%;
  left:40%;
  color: blue;
  text-align: center;
}
.kao-a{
  text-align: center;
}
.kao-b{
  text-align: center;
}
.kao-c{
  text-align: center;
}
.aaaa{
  font-size: 5px;
  display:none;
  position:absolute;
  top:20%;
  left:56%;
}
.active_cat{
  display: block;
}