.header{
  background-image: url(rosemary.jpg);
  background-size: cover;
}

.header-logo{
  color:black;
}
.content{
  background-image: url(money.jpg);
  background-size: cover;
  height:100vh;
}
.user_nav {
  float:right;
}

.mypage{
  display:flex;
  float:right;
}

.pie {
  position:absolute;
  top:40%;
  left:5%;
}

.btn-income{
  color: blue;
}
.expense-logo{
  color: red;
}